<div class="row">
  <div class="col-md-12">
    <h2>Hej, hvordan går det?</h2>
    <p>Mange tak guys from Google for <a href="https://developers.google.com/blockly/installation/js-interpreter">JavaScript Interpreter</a>
    and developers who made <a href="http://codemirror.net/index.html#description">CodeMirror</a>.</p>
    <p>Feel free to dig deeper into how algorithms work.</p>
  </div>
</div>
